.filter {
  background-color: rgba(200, 210, 192, 90%);
  height: 100%;
  color: #4d5d53;
}

.titleSkills {
  color: #4d5d53;
  font-weight: 600;
}

.container {
  width: 100%;
}

.skills-items {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.skills-item {
  flex: 0 0 48%;
  max-width: 48%;
}

.skills-info {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.skillsP {
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
  color: #4d5d53;
  opacity: 1;
}

.progress-line {
  margin-top: 10px;
  height: 20px;
  width: 100%;
  background-color: #4d5d53;
  border-radius: 50px;
  position: relative;
}

.skills-span {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  height: 100%;
  border-radius: 50px;
  position: absolute;
  background-color: #e14208;
  transition: 1s all;
}

@keyframes animate {
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
